@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
}

.bi.bi-diagram {
  border: 0 none !important;
  border-radius: 0 !important;
  box-shadow: 0 0 0 0 !important;
  background: transparent !important;
}
